extends layout

block content
	h1= title

	form(method="post" action= book.action)
		h2(class="error") Oooops!

		ul(class="error")
			each error in errors
				li= error.message

		p
			label(for="title") Title 

			input(name="title" type="text" id="title" value= book.title required)

		p
			label(for="author") Author 

			input(name="author" type="text" id="author" value= book.author required)

		p
			label(for="genre") Genre 

			input(name="genre" type="text" id="genre" value= book.genre)

		p
			label(for="year") Year 

			input(name="year" type="text" id="year" value= book.year)

		p
			input(type="submit" value= title)

		p
			a(class="button" href="/books") Cancel